##
### THIS FILE IS UNDER PUPPET CONTROL. DON'T EDIT IT HERE.
### USE: git clone git+ssh://$USER@puppet.debian.org/srv/puppet.debian.org/git/dsa-puppet.git
###

<Macro vhost-inner-cdimage-search.debian.org>
	ServerAdmin debian-cd@lists.debian.org
	DocumentRoot /srv/cdimage-search.debian.org/htdocs

	ErrorLog /var/log/apache2/cdimage-search.debian.org-error.log
	CustomLog /var/log/apache2/cdimage-search.debian.org-access.log privacy

	ScriptAlias /cgi-bin/ /srv/cdimage-search.debian.org/cgi-bin/
	<Directory "/srv/cdimage-search.debian.org/cgi-bin">
		AllowOverride None
		Options +ExecCGI -MultiViews +SymlinksIfOwnerMatch
		Require all granted
	</Directory>

	<Directory /srv/cdimage-search.debian.org/htdocs>
		Require all granted
		AllowOverride none
	</Directory>

	RewriteEngine On
	RewriteRule ^/$ /cgi-bin/find_file.cgi [PT]

	<IfModule mod_userdir.c>
		UserDir disabled
	</IfModule>
</Macro>

Use common-debian-service-https-redirect * cdimage-search.debian.org

<VirtualHost *:443>
	ServerName cdimage-search.debian.org
	Use common-debian-service-ssl cdimage-search.debian.org
	Use common-ssl-HSTS
	Use vhost-inner-cdimage-search.debian.org
</VirtualHost>

<% if scope.function_onion_global_service_hostname(['cdimage-search.debian.org']) -%>
<Virtualhost *:80>
	ServerName <%= scope.function_onion_global_service_hostname(['cdimage-search.debian.org']) %>
	Use vhost-inner-cdimage-search.debian.org
</VirtualHost>
<% end %>
<% if scope.function_onionv3_global_service_hostname(['cdimage-search.debian.org']) -%>
<Virtualhost *:80>
	ServerName <%= scope.function_onionv3_global_service_hostname(['cdimage-search.debian.org']) %>
	Use vhost-inner-cdimage-search.debian.org
</VirtualHost>
<% end %>


# vim:set syn=apache:
