<%- if %w{arm-arm-01}.include?(@hostname) then -%>
GRUB_CMDLINE_LINUX="$GRUB_CMDLINE_LINUX console=ttyAMA0,115200n8"
<%- elsif %w{arm-arm-03}.include?(@hostname) then -%>
GRUB_CMDLINE_LINUX="$GRUB_CMDLINE_LINUX console=ttyS0,115200"
<%- elsif %w{conova-node01 conova-node02}.include?(@hostname) then -%>
GRUB_CMDLINE_LINUX="$GRUB_CMDLINE_LINUX console=ttyS0,115200 earlycon"
<%- elsif %w{storace fasolo clementi czerny casulana mirror-umn csail-node01 csail-node02 sallinen wieck schumann mirror-anu}.include?(@hostname) then -%>
GRUB_CMDLINE_LINUX="$GRUB_CMDLINE_LINUX console=tty0 console=ttyS1,115200n8"
<% else -%>
GRUB_CMDLINE_LINUX="$GRUB_CMDLINE_LINUX console=tty0 console=ttyS0,115200n8"
<%- end -%>
