##
### THIS FILE IS UNDER PUPPET CONTROL. DON'T EDIT IT HERE.
### USE: git clone git+ssh://$USER@puppet.debian.org/srv/puppet.debian.org/git/dsa-puppet.git
###


<%
nameservers = @ns

if nameservers.empty?
  scope.function_warning(["Something has gone wrong writing resolv.conf.  No nameservers to use - using google's!"])
  nameservers << '8.8.8.8'
  nameservers << '2001:4860:4860::8888'
  nameservers << '8.8.4.4'
end

%>

<% if @searchpaths.size() > 0 %>
search <%= @searchpaths.join(" ") %>
<% end -%>

<%= nameservers.map{ |ns| "nameserver #{ns}"}.join("\n") %>

<% if @opts.size() > 0 %>
options <%= @opts.join(" ") %>
<% end -%>
