##
## THIS FILE IS UNDER PUPPET CONTROL. DON'T EDIT IT HERE.
## USE: git clone git+ssh://$USER@puppet.debian.org/srv/puppet.debian.org/git/dsa-puppet.git
##
#  For Bacula release 5.0.1 (24 February 2010) -- debian 5.0.4

# List Directors who are permitted to contact this File daemon
Director {
  Name = <%= @director_name %>
  Password = "<%= @dir_client_secret %>"

  TLS Enable = yes
  TLS Require = yes
  TLS Verify Peer = yes
  TLS Allowed CN = "clientcerts/<%= @director_address %>"
  <%= scope['bacula::bacula_tls_ca_certificate_file'] %>
  <%= scope['bacula::bacula_tls_server_certificate'] %>
  <%= scope['bacula::bacula_tls_server_key'] %>
}

# Send all messages except skipped files back to Director
Messages {
  Name = <%= @messages_name %>
  director = <%= @director_name %> = all, !skipped, !restored
}
