<%=
def getcrl(host)
  crl = nil
  begin
    facts = YAML.load(File.open("/var/lib/puppet/yaml/facts/#{host}.yaml").read)
    return facts.values['debsso_skac_crl']
  rescue Exception => e
  end
  return crl
end

crl = []

['diabelli.debian.org'].each do |node|
  c = getcrl(node)
  next if c.nil?
  crl << c
end

crl.join("\n")

# vim:set et:
# vim:set sts=4 ts=4:
# vim:set shiftwidth=4:
%>
