Use common-debian-service-https-redirect * nagios.debian.org

<VirtualHost *:443>
        ServerAdmin webmaster@debian.org
        ServerName icinga.debian.org
        ServerAlias nagios

        Use common-debian-service-ssl nagios.debian.org
        Use common-ssl-HSTS

        ErrorLog /var/log/apache2/nagios.debian.org-error.log
        LogLevel warn
        CustomLog /var/log/apache2/nagios.debian.org-access.log combined
        ServerSignature On
        <IfModule mod_userdir.c>
                UserDir disabled
        </IfModule>
        DocumentRoot /srv/nagios.debian.org/htdocs
        <Directory />
                Options FollowSymLinks
                AllowOverride None
        </Directory>
        <Directory /srv/nagios.debian.org/htdocs/>
                Options -Indexes +FollowSymLinks +MultiViews
                AllowOverride None
        </Directory>

        AddOutputFilterByType DEFLATE text/json
        Include "/etc/icinga/apache2.conf"

        RedirectMatch ^/$ /icinga/
        RedirectMatch ^/nagios$ /icinga
        RedirectMatch ^/nagios/$ /icinga/
        RedirectMatch ^/nagios3$ /icinga/
        RedirectMatch ^/nagios3/$ /icinga/

        Header always set Referrer-Policy "same-origin"
</VirtualHost>
# vim:set syntax=apache:
